<nav class="">
    <div class="flex flex-row justify-end section f7">
        {%- for link in site.data.navlinks -%}
        <a class="link inline-flex flex-column w-auto ml3 ml4-ns dim" 
        href="#{{link.url}}">
            <div class="dib">{{link[page.lang]}}</div>
            {%- if link.below -%}
            <div class="dib mt1">
                {{link.below}}
            </div>
            {%- endif -%}
        </a>
        {%- endfor -%}

        <div class="link inline-flex flex-column w-auto ml4">
            <a href="/en" class="link dim fw3 {%- if page.url contains 'en' -%} b {%- endif -%} ">EN</a>
            <a href="/sk" class="b mt1 link dim fw3{%- if page.url contains 'sk' -%}b {%- if page.url contains 'en' -%} b {%- endif -%}{%- endif -%}">SK</a>
        </div>
    </div>
</nav>