---
layout: default
---
{% assign data = site.data.index %}

<section id="hero" class="dark pt3">
    <div class="section">
        <div class="flex flex-column flex-row-ns justify-between">
            <img src="/assets/backyard-logo.svg" alt="Backyard logo" class="mw5 mw6-ns">
            {% include navbar.html %}
        </div>
        <div class="flex flex-column-reverse flex-row-l items-center-l justify-between pb5">
            <div class="pl4-ns minw-24-ns">
                <div class="script f-subheadline ">{{data.hero.about[page.lang]}}</div> 
                <div class="measure measure-narrow-ns lh-copy f4 f5-ns">
                    {{data.hero.text[page.lang] | markdownify}}
                </div>
                <img src="/assets/hero-deco.svg" alt="" class="mt4">
            </div>
            <div class="mw7-ns mv4 pl3-ns">
                <img src="/assets/hero-backyard-photo-frame.png" alt="">
            </div>
        </div>
    </div>
</section>

<section id="products" class="light pv6">
    <div class="section">
        <div class="flex flex-column flex-row-ns justify-between">
            <h2 class="f2">{{data.products.title[page.lang]}}</h2>
            <div class="script f1 f-subheadline-ns mt3-ns">{{data.products.tagline[page.lang]}}</div>
        </div>

        <div class="logo-grid mv6 mv5-ns">
            {% for image in site.static_files %}
			{% if image.path contains 'assets/hair-product-logos' %}
			<img src="{{image.path}}" alt="" class=""/>
			{% endif %}
		    {% endfor %}
        </div>

        <img src="/assets/products-deco.svg" alt="" class="db center mv5">

        <div class="flex flex-column flex-row-ns items-end justify-between">
            <img src="/assets/products-top-shelf.png" alt="" class="w-50-ns">
            <img src="/assets/products-bottom-shelf.png" alt="" class="w-50-ns mt4 mt0-ns">
        </div>
    </div>
</section>

<section id="examples" class="medium pv6">
    <div class="section">

        <img src="/assets/hair-deco-crown.svg" alt="" class="db center mb5">

        <div class="flex flex-column flex-row-ns justify-between">
            <div class="w-40-ns">
                <img src="/assets/hair-photo-x1.png" alt="light blond hair, styled in a gentle wave">
            </div>
            <div class="w-two-thirds-ns">
                <img src="/assets/hair-photos-x2.png" alt="two photos of long hair, one styled straight with a wave at the end, the other perfectly straight">
            </div>
        </div>

        <img src="/assets/hair-deco-bottom.svg" alt="" class="db center mt5">
    </div>
</section>

<section id="location" class="dark pv6">
    <div class="section">
        <div class="flex flex-column flex-row-ns items-center justify-around">
            <div class="w-50-ns flex flex-column items-center">
                <div class="script f-subheadline ">{{data.location.script[page.lang]}}</div> 
                <!-- <h2 class="f2 mv0">{{data.location.title[page.lang]}}</h2> -->
                <img src="/assets/location-deco.svg" alt="" class="mv5">
                <a href="{{data.location.button.url}}" class="button f3 f2-ns dim">{{data.location.button.title[page.lang]}}</a>
            </div>
            <div class="w-50-ns mt5 mt0-ns">
               <a class="db mw6 center grow" href="{{data.location.button.url}}">
                <img src="/assets/map.png" alt="Screenshot of the location of the Backyard on Google Maps" class="br4">
               </a>
            </div>
        </div>
        <div class="center tc mt6 f3 fw3">
            <h2 class="mb5">{{data.hours.title[page.lang]}}</h2>
            {%- for line in data.hours.lines -%}
                <p>{{line.days[page.lang]}}: <span class="white">{{line.hours[page.lang]}}</span></p>
            {%- endfor -%}
        </div>
    </div>
</section>

<section id="reservation" class="dark pv6">
    <div class="section">
        <div class="flex flex-column items-center tc">
            <img src="/assets/reservation-deco-top.svg" alt="" class="mb5">
            <!-- <div class="script f1 f-subheadline-ns">{{data.reservation.script[page.lang]}}</div> -->
            <h2 class="f2 white">{{data.reservation.title[page.lang]}}</h2>
            <a href="tel:{{data.reservation.phone | replace: ' ', ''}}" class="button f3 f2-ns grow mv4 mb0-ns"><span class="o-60">+421 </span>{{data.reservation.phone | remove_first: '+421'}}</a>
            <img src="/assets/reservation-deco-bottom.svg" alt="" class="mt5">
        </div>
    </div>
</section>

<section id="services" class="light pv6">
    <div class="section">
        <div class="flex flex-column flex-row-ns justify-between mb5">
            <h2 class="f2 mb0">{{site.data.services.title[page.lang]}}</h2>
            <div class="script f-headline pl6">{{site.data.services.tagline[page.lang]}}</div>
        </div>


        <div class="price-grid">

            <h3 class="mv0 pv3 pl3 f3 bg-black-10">Services</h3>
            <div class="flex flex-row justify-around items-center f4 ttu sticky bg-black-10 pv2">
                {%- for length in site.data.services.hair-types[page.lang] -%}
                    <div class="flex flex-column items-center">
                        <div class="b">{{length}}</div>
                        <div class="o-70 fw3">{{site.data.services.hair[page.lang]}}</div>
                    </div>
                {%- endfor -%}
            </div>

            {%- for category in site.data.services.categories -%}
                {%- if category.name -%}
                <h3 class="mv0 pv3 pl3 f3 bg-black-10">{{category.name[page.lang]}}</h3>
                <div class="mv0 pv3 pl3 f3 bg-black-10-ns bg-transparent"></div>
                {%- endif -%}

                {%- for service in category.services -%}
                <div class="bb-ns bw1-ns b--silver pt3 pb0 pb3-ns pl3">
                    <h4 class="f4 mv0">{{service.name[page.lang]}}</h4>
                    <div class="f4 o-70">{{service.tagline[page.lang]}}</div>
                </div>
                <div class="flex flex-row justify-around items-center f3 bb bw1 b--silver pt3 pb4 pb3-ns mb3 mb0-ns">
                    <!-- if a 2nd price exists, do nothing, else hr -->
                    {%- if service.prices[2] -%}{%- else -%}<hr>{%- endif -%}
                    {%- for price in service.prices -%}
                    <div><span class="b">{{price}}</span>&nbsp;<span class="black-40">€</span></div>
                    {%- endfor -%}
                    {%- if service.prices[2] -%}{%- else -%}<hr>{%- endif -%}
                </div>
                {%- endfor -%}
                
            {%- endfor -%}

        </div>
        <div class="measure mt5 f4 fw3 ml3">
            {{site.data.services.disclaimer[page.lang]}}
        </div>
        <img src="/assets/services-deco.svg" alt="" class="db center mt6">
    </div>
</section>

<footer class="light pt6">
    <div class="section">
        <div class="flex flex-column">
            <h2 class="f3 f2-ns tc">{{data.footer.title[page.lang]}}</h2>
            <div class="f1 f-subheadline-ns script tr pl7-ns">{{data.footer.tagline[page.lang]}}</div>
        </div>
    </div>
    <img src="/assets/footer-watercolor.png" alt="" class="db center mt6">
</footer>